orm web service/UseWebServiceSample/WebApplication1/Service References/FADClassInfoService/FADService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentShamsiDate">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentShamsiDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentShamsiDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentShamsiDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentShamsiDate" />
  </wsdl:message>
  <wsdl:message name="GetCurrentShamsiDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentShamsiDateResponse" />
  </wsdl:message>
  <wsdl:portType name="FADServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentShamsiDate">
      <wsdl:input message="tns:GetCurrentShamsiDateSoapIn" />
      <wsdl:output message="tns:GetCurrentShamsiDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FADServiceSoap" type="tns:FADServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentShamsiDate">
      <soap:operation soapAction="http://tempuri.org/GetCurrentShamsiDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FADServiceSoap12" type="tns:FADServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentShamsiDate">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentShamsiDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FADService">
    <wsdl:port name="FADServiceSoap" binding="tns:FADServiceSoap">
      <soap:address location="http://192.168.1.203:21522/FADService.asmx" />
    </wsdl:port>
    <wsdl:port name="FADServiceSoap12" binding="tns:FADServiceSoap12">
      <soap12:address location="http://192.168.1.203:21522/FADService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>